# Default configuration file for IdentiPy search enfine.
# It will be used for everything that is missing in your custom config file.
# Interpolation of values and line continuation are supported, see
# http://docs.python.org/library/configparser.html

[search]
precursor accuracy unit: ppm ; can be ppm or Th or Da
# (the latter two mean the same, Th is correct)
precursor accuracy value: 100
product accuracy: 0.1 ; in Th
peptide maximum length: 30
peptide minimum length: 5
peptide maximum mass: 2000
peptide minimum mass: 300
enzyme: trypsin
miscleavages: 1

[modifications]
fixed:
variable:

[output]
format: text
path:
candidates: 5 ; 0 or less means all sequence candidates

[input]
database: ; path to a FASTA database
add decoy: no ; enable if your DB does not have decoy sequences
# but you want to add them to the search
decoy method: reverse ; one of 'reverse' or 'random'
decoy prefix: DECOY_ ; prefix for decoy protein description

[scoring]
score: hyperscore
minimum peaks: 4
minimum matched: 1
dynamic range: 0 ; disregard all peaks that are 

[performance]
processes: 0 ; 0 means auto
pre-calculation: some
folder: ; where to store/look for precalculated files
